<?xml version='1.0' encoding='utf-8'?>
<widget id="neclass.tomato" version="0.1.0">
	<name>Tomato</name>
	<description>Example Tabris.js App</description>
	<author email="sungu.che@icloud.com">sungu.che</author>
    <platform name="android">
        <icon src="img/logo.png" density="mdpi" />
        <icon src="img/logo.png" density="hdpi" />
        <icon src="img/logo.png" density="xhdpi" />
        <icon src="img/logo.png" density="xxhdpi" />
        <icon src="img/logo.png" density="xxxhdpi" />
    </platform>
</widget>
